/*jrmr 2020-05-05for Kendo validator*/
span.k-widget.k-tooltip-validation {
    display: inline-block;
    /*width: 160px;*/
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: white;
    border-color: white;
    background-color: black;
}
.k-tooltip-validation .k-warning {
    display: none;
}
.k-widget > span.k-invalid, input.k-invalid, textarea.k-invalid {
    border: 1px solid red !important;
}
.k-widget.k-tooltip-validation {
    background-color: #076974;
    color: white;
}
/*jrmr 2020-05-05for Kendo validator*/



.master_body {
    display: flex;
    flex-direction: column;
    height: 200vh;
    font-size: calc(10px + 0.25vw);
}

.master_header {
    flex: none;
    height: calc(45px + 2vh);
    width: 100%;
}

.master_header_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #262262;
    padding-right: .75vw;
    padding-left: .75vw;
    padding-top: .5vh;
    height: calc(45px + 2vh);
    align-items: center;
}

.master_header_logo_cor3 img {
    width: calc(104px + 0.5vw);
    height: calc(26px + 0.5vw);
    margin-right: .5vw;
    justify-content: flex-start;
}

.master_header_logo_drs img {
    width: calc(90px + 0.5vw);
    height: calc(30px + 0.5vw);
    margin-right: .5vw;
    justify-content: flex-start;
}

.master_header_menu {
    justify-content: flex-start;
    text-align: left;
    vertical-align: middle !important;
    color: #ffffff !important;
    margin-right: .5vw;
}

.master_header_login {
    vertical-align: middle !important;
    margin-left: auto;
    white-space: nowrap;
    margin-right: 1.5vw;
}

    .master_header_login a {
        text-align: center;
        white-space: nowrap;
        color: #ffffff !important;
    }

.master_main_content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

    .master_main_content::after {
        content: '\00a0'; /* &nbsp; */
        display: block;
        margin-top: var(--space);
        height: 0px;
        visibility: hidden;
    }

@media (--break-lg) {
    .master_main_content {
        padding-top: var(--space-lg);
    }

        .master_main_content::after {
            margin-top: var(--space-lg);
        }
}

.master_main_content--full {
    padding: 0;
}

    .master_main_content--full::after {
        content: none;
    }

.master_footer {
    flex: none;
    width: 100%;
    height: calc(80px + 4vh);
}

.master_footer_upperline {
    background-color: #2c7f89;
    height: calc(14px + .6vh);
}

.master_footer_midline {
    background-color: #ffffff;
    height: calc(3px + .2vh);
}

.master_footer_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #076974;
    height: calc(60px + 3.5vh);
    padding-right: 1vw;
    padding-left: 1vw;
    justify-content: flex-end;
}

.master_footer_text {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    color: #ffffff !important;
    font-size: calc(10px + 0.25vw);
}

    .master_footer_text body {
        font-size: calc(10px + 0.25vw) !important;
    }

    .master_footer_text a {
        color: #ffffff !important;
        font-size: calc(10px + 0.25vw) !important;
    }

.master_footer_icons_fbk {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

    .master_footer_icons_fbk img {
        height: calc(33px + 0.5vw);
        width: calc(33px + 0.5vw);
        margin-left: .5vw;
    }

.master_footer_icons_linkedin {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

    .master_footer_icons_linkedin img {
        height: calc(33px + 0.5vw);
        width: calc(33px + 0.5vw);
        margin-left: .5vw;
    }

.master_footer_icons_twitter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

    .master_footer_icons_twitter img {
        height: calc(33px + 0.5vw);
        width: calc(33px + 0.5vw);
        margin-left: .5vw;
    }

.master_login_body {
    background-image: url(assets/photo_2019-08-29_09-56-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login_form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: calc(333px + 8vw);
}

.login_main {
    margin-top: calc(101px + 5.5vh);
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-radius: 5px;
    border-color: #fff;
    border-width: 1px;
}

.login_viewbag {
    margin-top: 2vh;
    text-align: left;
    color: #fff;
    font-size: calc(20px + 0.5vw) !important;
    margin-bottom: .5vh;
}

.login_hr {
    width: calc(333px + 8vw);
    margin-bottom: 1vh;
    line-height: 0;
}

.login_label1 {
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: .5vh;
}

.login_textbox1 {
    width: calc(333px + 8vw);
    margin-bottom: 1vh;
}

.login_textbox1a {
    width: calc(333px + 8vw);
    margin-bottom: 1vh;
}

.login_label2 {
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: .5vh;
}

.login_textbox2 {
    width: calc(333px + 8vw);
    margin-bottom: 2vh;
}

.login_textbox2a {
    width: calc(333px + 8vw);
}

.login_btn {
    top: 36vh;
    margin-bottom: 2vh;
}

.login_system_access {
    width: calc(333px + 8vw);
    height: calc(120px + 6vh);
    background-color: rgba(36,33,93,0.6);
    border-style: solid;
    border-radius: 5px;
    border-color: #fff;
    border-width: 1px;
    padding: .5vw;
}

.login_system_access_text {
    width: calc(333px + 8vw);
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: 1vh;
}

    .login_system_access_text a {
        color: #6CC72B !important;
    }

.login_system_access_text_1 {
    width: calc(333px + 8vw);
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: 1vh;
}

    .login_system_access_text_1 a {
        color: #6CC72B !important;
    }

.login_system_access_text_2 {
    width: calc(333px + 8vw);
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: 1vh;
}

    .login_system_access_text_2 a {
        color: #6CC72B !important;
    }

.login_system_access_text_3 {
    width: calc(333px + 8vw);
    color: #fff !important;
    font-size: calc(10px + 0.25vw);
    margin-bottom: 1vh;
}

    .login_system_access_text_3 a {
        color: #6CC72B !important;
    }

.btn-defaultlogin {
    color: #fff;
    background-color: #2c7f89;
    border-color: #ccc;
    width: calc(333px + 8vw);
}

    .btn-defaultlogin:focus,
    .btn-default.focus {
        color: #fff;
        background-color: #71bf44;
        border-color: #8c8c8c;
    }

    .btn-defaultlogin:hover {
        color: #fff;
        background-color: #00a99d;
        border-color: #adadad;
    }

    .btn-defaultlogin:active,
    .btn-defaultlogin.active,
    .open > .dropdown-toggle.btn-defaultlogin {
        color: #fff;
        background-color: #00a99d;
        background-image: none;
        border-color: #adadad;
    }

    .btn-defaultlogin:focus, .btn-default.focus {
        color: #fff;
        background-color: #00a99d;
        background-image: none;
        border-color: #adadad;
    }

.cgi-header {
    font-size: calc(10px + .75vw);
    margin: 0px;
    font-weight: normal;
}

.hmgp_form_header h2 {
    font-size: calc(10px + .75vw);
    margin: 0px;
}

.hmgp_form_header hr {
    border-width: 1px !important;
    border-color: #999999 !important;
    margin-top: .5vh;
    margin-bottom: 1vh;
}

.hmgp_dashboard {
    flex: 1;
    height: 100%
}

.hmgp_dashboard_form {
    margin-top: .5vh;
    display: flex;
    flex-direction: column;
    height: 97%;
}

.hmgp_dashboard_header_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
}

.hmgp_dashboard_header_row_header {
    display: flex;
    justify-content: flex-start;
}

    .hmgp_dashboard_header_row_header h2 {
        font-size: calc(10px + .75vw);
        white-space: nowrap;
    }

.hmgp_dashboard_header_row_combox {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
}

    .hmgp_dashboard_header_row_combox label {
        font-weight: normal !important;
        margin-right: .5vw;
        padding-top: 1vh;
    }

.body_container {
    padding-right: .75vw;
    padding-left: .75vw;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    overflow: auto;
}

.k-progressbar > .k-state-selected, .k-widget.k-autocomplete, .k-widget.k-combobox, .k-widget.k-datepicker, .k-widget.k-datetimepicker, .k-widget.k-dropdown, .k-widget.k-menu, .k-widget.k-multiselect, .k-widget.k-numerictextbox, .k-widget.k-progressbar, .k-widget.k-timepicker {
    background-color: #262262 !important;
    border-style: none !important;
    background-image: none !important;
}

.k-menu .k-item, .k-menu.k-header {
    color: #FFF !important;
}

.k-menu .k-link.k-state-active, .k-menu .k-menu-scroll-button:hover, .k-menu .k-state-hover > .k-link {
    color: #FFF !important;
    background-color: #076974 !important;
}

.k-item k-state-default k-last k-state-border_down {
    background-color: #076974 !important;
}

.k-link k-menu-link {
    background-color: #076974 !important;
}

.k-link {
    white-space: pre-line;
}

.k-item k-state-highlight k-state-default k-first {
    background-color: #262262 !important;
}

.k-menu .k-item, .k-menu-scroll-wrapper .k-item, .k-menu-scroll-wrapper.horizontal > .k-item, .k-popups-wrapper .k-item, .k-popups-wrapper.horizontal > .k-item, .k-widget.k-menu-horizontal > .k-item {
    background-color: #262262 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #076974 !important;
}

.k-widget k-reset k-header k-menu k-menu-horizontal {
    border-style: none !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #076974 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #076974 !important;
}

.hmgp_main_form {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: .5vh;
    padding-top: 0px !important;
}

.hmgp_main_panel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 1vw;
    width: 100%;
    margin: 0;
    background-color: #eeeeee;
    flex: 1 1 auto;
}

.hmgp_main_panel_content {
    height: 100%;
    position:relative;
}

.hmgp_lower_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid;
    border-color: #555555;
}

hmpg_lowernav_divisor {
    font-size: calc(10px + 0.25vw) !important;
}

.hmgp_back_btn {
    background-color: #eeeeee !important;
    border-style: none !important;
    padding: 1vw 1.25vw;
    cursor: pointer;
    white-space: nowrap;
}

.hmgp_next_btn {
    background-color: #eeeeee !important;
    border-style: none !important;
    padding: 1vw 1.25vw;
    cursor: pointer;
    white-space: nowrap;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    background-color: #076974 !important;
}

.hmgp_dashboard_main {
    margin-top: .5vh;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

    .hmgp_dashboard_main h2 {
        font-size: calc(10px + .75vw) !important;
    }

.hmgp_dashboard_subapp_filter {
    text-align: right;
}

.hmgp_navigation_header_bg {
    display: table;
    width: 100%;
}

.k-header k-grid-toolbar k-grid-top {
    height: calc(16px + .9vh) !important;
}

.k-widget k-combobox k-combobox-clearable {
    width: 3vw !important;
}

.k-alt k-state-selected {
    background-color: #076974 !important;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover td {
    background-color: #076974 !important;
}

.k-alt k-state-selected:hover {
    background-color: #076974 !important;
}

.alert-danger {
    background-color: rgba(36,33,93,0.4) !important;
    color: #ff4136 !important;
    border-color: #fff !important;
    text-align: center !important;
    padding-top: 1vh !important;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 4px;
    height: calc(30px + 1.5vh);
}

.k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-button:focus, .k-button:hover:focus, .k-state-disabled .k-button.k-state-focused {
    box-shadow: none !important;
    color: #fff !important;
    background-color: #00a99d !Important;
    border-color: #8c8c8c !important;
}

.k-button:focus, .k-button:hover {
    background-color: #2c7f89 !important;
    box-shadow: none !important;
    color: #fff !important;
    border-color: #8c8c8c !important;
}

.k-button::after {
    box-shadow: none !important;
    color: #fff !important;
    background-color: #00a99d !Important;
    border-color: #8c8c8c !important;
}

.k-button {
    box-shadow: none !important;
    color: #fff !important;
    background-color: #00a99d !Important;
    border-color: #8c8c8c !important;
}

.hmpgp_planinformation_spacer {
    padding-bottom: 1vh;
    font-size: calc(10px + 0.25vw);
}
/*form Controls:*/
.k-ie input.k-textbox {
    width: calc(333px + 8vw) !important;
}

.col-md-2 {
    width: 12vw !important;
    text-align: left !important;
    padding-top: .75vh;
    padding-left: .5vw !important;
}

.dl-horizontal dt {
    word-wrap: normal;
    text-align: left;
    padding-bottom: .75vh;
    font-weight: normal !important;
    font-size: calc(10px + 0.25vw);
    width: auto !important;
}

    .dl-horizontal dt label {
        white-space: pre-wrap;
        font-weight: normal !important;
        font-size: calc(10px + 0.25vw) !important;
        background-color: #e8e8e8;
        min-height: calc(26px + 1.4vh);
        height: auto;
        margin-bottom: 0 !important;
        padding-bottom: .75vh;
    }

        .dl-horizontal dt label::first-letter {
            text-transform: capitalize !important;
        }

.cgi-color {
    color: #076974
}

/*TOOLTIP AREA*/
i.cgi-tooltip:hover{
    color: #1096a5
}
.k-callout-n {
    border-bottom-color: #2c7f89e3 !important;
}

.k-callout-s {
    border-top-color: #2c7f89e3 !important;
}

.k-widget.k-tooltip {
    background-color: #2c7f89e3 !important;
}


/*TOOLTIP AREA*/


.hmgp_form_ReadOnly_Label {
    margin-left: .5vw !important;
    font-weight: normal !important;
    font-size: calc(10px + 0.25vw) !important;
    background-color: #e8e8e8;
    height: calc(26px + 1.4vh);
    margin-bottom: 0 !important;
    padding-top: .75vh;
    padding-left: .5vw;
    margin-bottom: .75vh !important;
    width: 100%;
}

.hmgp_form_row {
    display: flex;
}
/*.hmgp_form_row dt {
    text-transform: lowercase !important;
}*/

.input.k-textbox, textarea.k-textbox {
    width: calc(333px + 8vw) !important;
}

.form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.hmgp_form_combobox {
    width: calc(333px + 8vw) !important;
}

.hmgp_form_body {
    display: flex;
    flex-direction: column
}

.hmpg_form_instructions {
    font-size: calc(9px + 0.5vw);
}

.hmgp_form_question_row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    margin-bottom: .75vh;
    align-items: center;
}

.hmpg_form_questions {
    width: 24vw;
    word-wrap: break-word;
    margin-right: .75vw;
    font-weight: normal !important;
    font-size: calc(10px + 0.25vw) !important;
    background-color: #e8e8e8;
    padding: .75vw;
}

.hmgp_form_projectalternative_header {
    font-size: calc(9px + 0.5vw);
    padding-top: .5vw;
    padding-bottom: 1vw;
    padding-left: .25vw;
}

.hmgp_form_signedagreement {
    font-size: calc(9px + 0.5vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .75vw;
    text-align: center;
    margin-bottom: 2vh;
}

.hmgp_form_signedagreement_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: .75vh;
    align-items: center;
}

.hmgp_form_fundingCert {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hmgp_form_fundingCert_rows {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1vw;
}

.hmpg_form_textbox {
    width: calc(333px + 8vw) !important;
}

.hmpg_form_textbox_long {
    width: 100%;
    height: calc(40px + 5vh);
}

.hmgp_form_checkbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-top: calc(3px + .2vh);
}

.hmgp_form_mainform_panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hmgp_form_general {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hmgp_form_checkbox_noheight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: calc(3px + .2vh);
}

.hmgp_form_grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #727272;
    border-radius: 4px;
}

.navbar-nav > li > a {
    padding: 1.2em 1.2em 1.1em !important;
}

.dropdown-menu > li > a {
    padding: .5em .5em .5em !important;
}

#divList {
    font-size: calc(8px + 0.2vw) !important;
}

.k-rpanel-toggle {
    background-color: #eeeeee !important;
    border-radius: 0px !important;
}

#sidebar {
    overflow: visible !important;
}

.k-rpanel-left, .k-rpanel-right {
    min-width: calc(85px + 10vw) !important;
}

/* CSS Created to this point are handled by new MVC team */
.d-none {
    display: none;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-3{
    margin-left:3rem;
}

.mt-20 {
    margin-top: 20rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.img-mobile {
    width: 20rem;
    display: inline;
}

.no-hyperlink {
    pointer-events: none !important;
    cursor: default !important;
    color: #333354 !important;
}
.requiredUploads {
    display: inline-flex;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-nav-color {
    background-color: #2c7f89 !important;
    border-color: #2c7f89 !important;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 10rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-cor3 {
    background-color: #2c7f89 !important;
    border-color: #2c7f89 !important;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    font-weight: bold;
   
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.flex-row-cstm{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    z-index:1;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .waves-effect .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }

    .waves-effect.waves-light .waves-ripple {
        background-color: rgba(255, 255, 255, 0.45);
    }

    .waves-effect.waves-red .waves-ripple {
        background-color: rgba(244, 67, 54, 0.7);
    }

    .waves-effect.waves-yellow .waves-ripple {
        background-color: rgba(255, 235, 59, 0.7);
    }

    .waves-effect.waves-orange .waves-ripple {
        background-color: rgba(255, 152, 0, 0.7);
    }

    .waves-effect.waves-purple .waves-ripple {
        background-color: rgba(156, 39, 176, 0.7);
    }

    .waves-effect.waves-green .waves-ripple {
        background-color: rgba(76, 175, 80, 0.7);
    }

    .waves-effect.waves-teal .waves-ripple {
        background-color: rgba(0, 150, 136, 0.7);
    }

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
    z-index: -1;
}
.mvc_validation_required {
    color: #ff4136;
    font-size: calc(10px + .75vh);
}

.w-inherit{
    width: inherit !important;
}

.text-blue {
  color: #262262;
}

#table-container-table_wrapper > .row:first-child {
    background-color: grey;
    margin: 0;
}

div.dataTables_wrapper div.dataTables_filter label {
    margin-top: 0.5rem;
}

.sub-title {
    font-size: 18px;
    font-weight: 600;
}

.release-history__title {
    height: 47px;
    background-color: grey;
}

#release-container a {
    color: black;
}

.release-history__content ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.release-history__content li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.05em;
    position: relative;
}